
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: lightgray;
    font-family: 'Poppins',  'Actor', 'Adamina';
      
}


/* navbar */
nav{
    background-color: #050505;
    color: white;
    padding-right: 110px;
    padding-left: 100px;
    padding-top: 40px;
  
}
.navbar{
    width: 80%;
}

  .navbar .links ul{
 
    float: right;
   
}

.links ul li{
   display: inline-block;
   padding-left: 50px;
}

.links ul li a{
  list-style-type: none;
  text-decoration: none;
  color: white; 
}

nav .links ul li #btn1{
    background: #FFAC12;
    color:#050505;
    padding: 15px;
    width: 180%;
    border-radius:  0px 15px 0px 0px;

}
i{
    color: white;
  
}

 nav .body{
     display: flex;
     justify-content: space-between;
     padding-top: 150px;
     padding-bottom: 10px;
     padding-left: 150px;
     width: 95%;
 }
  .body .ksh{

    padding-left: 500px;

 }

 /* header*/

 .head{
     width: 80%;
     padding-left: 250px;
     padding-right: 160px;
     display: flex;
     margin-top: 30px;

 }

 .head img{
     width:95%;
     height:100%;
 }

 .form{
     background-color: white;
     border-radius: 3%;
     height: 50%;
    width: 70%;
    align-items: center;
    margin-right: 160px;
    align-items: center;
 }

 .user p{
     color:#FFAC12;
 }
 .form input{
     margin-bottom: 40px;
     margin-left: 20px;
     padding: 20px;
     width: 80%;
     border-radius: 3%;

 }
 .form textarea{
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
    width: 80%;
}

.form button{
 
   margin-left: 20px;
   padding: 20px;
   width: 90%;
   background-color:#050505;
   color: white;
   margin-bottom: 20px;
   border-radius:  0px 15px 0px 0px;
}

.form i{
    color: #FFAC12;
}
.form .user{
    background-color: whitesmoke;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
    margin-right: 15px;
    display: flex;
}

.form img{
    height: 80%;
    width: 80%;
    border-radius: 50%;
}
.form .name{
    margin-right:200px;
    width: 180%;
}

/* images */
#images{
    margin-top: 20px;
}

.image{
    width: 80%;
    padding-left: 250px;
    display: flex;

}

.image img{
    width: 6%;
    height: 10%;
    padding-right: 15px;
}

/* section details */
   #details{
       width: 39%;
       margin-left: 250px;
       background-color: white;
       margin-top: 20px;
       border-radius: 3%;
   }

   table{
    width: 100%;
   
}
 
table, tr, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}
table, tr, th:nth-child(1){
    border-left: none;
    border-bottom: none;
}
table, tr, th:nth-child(2){
    border-bottom: none;
}
table, tr, th:nth-child(3){
    border-bottom: none;
    border-right: none;
}
table, tr, th:nth-child(4){
    border-bottom: none;

}
table, tr, th:nth-child(5){
    border-bottom: none;
    border-right: none;
}


 .detail h4{
 
    padding: 40px;
}


/* Description */
#description{
    width: 39%;
    margin-left: 250px;
    margin-top: 20px;
    background-color: white;
    border-radius: 2%;
}

.desc h4{
    padding: 20px;
}

.para{
    padding: 20px;
}

.para p{
    margin-top: 20px;
}

/* feature */

#features{
    background-color: white;
    margin-left: 250px;
    width:39%;
    margin-top: 20px;
    border-radius: 2%;
}
.feature{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#features h4{
    padding: 20px;
}

.feature  ul li{
    padding: 10px;
    list-style: none;
   
}

.feature  ul li i{
    
    color: #FFAC12;
   
}

/* listings */
#listings{
    margin-left: 250px;
    margin-top: 50px;
}

#listings h1{
    padding: 80px;
    font-size: 40px;

}

.list{
    display: flex;
    width: 80;
}

.list .column{
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    background-color: white;
    border-radius: 2%;
    height: 50%;
}

.list img{
    width: 100%;
   
}

.list table{

    width:100%
}
.list #last{
    width: 15.5%;

}

.list .last table{
    width: 50%;
}

.list h4{
    padding: 20px;
}



/* Contact Us */

#contacts{
   
    background-color: #050505;
    color: white;
    margin-top: 20px;
    
}

.contact{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    align-items: center;
   
  
}

.heading{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    margin-bottom: 100px;
    margin-left: 250px;
    margin-right: 200px;
}

.heading h1{
    font-size: 35px;
}
.heading h1 span{
    font-size: 40px;
    color: #FAFF00;
    padding-left: 20px;
}
.heading  button{
    background-color:#FFAC12;
    color:#050505;
    width: 20%;
    padding: 20px;
    border-radius:  0px 15px 0px 0px;



}
.contact ul{
    margin-right: 60px;
}

.contact ul li{
    padding: 15px;
    list-style: none;
}
 .contact ul li a{
    text-decoration: none;
    color: white;
}

  .contact .heading h4{
    text-align: center;
}


.contact  .icons i{
    padding-right: 20px;

}