*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Poppins,  Actor, Adamina;
}
/* header section */
#header{
    background-image: url("/Assests/images/moving.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}



#header .links ul {
    
    float: right;
    margin-right: 150px;
}


#header .links ul li{
    display: inline-block;
    list-style-type: none;
    padding-top: 80px;
    padding-right: 80px;
    font-size: 20px;
   
}

 
#header .links ul li a{
    color: white;
    text-decoration: none;

}

#header .links ul li #btn1{
   background-color: yellow;
   text-align: center;
   font-size: 20px;
    
}
#header .links ul li #btn2{
    background-color: black;
    color: #FAFF00;
    font-size: 18px;
    text-align: center;
}


.head{
    align-self: center;
    padding-top: 250px;
    margin-left: 70px;
 
}
.head h1{
    font-size: 50px;
    width: 45%;
    color:  #FAFF00;
    
}

.head p{
    color: white;
    font-size: 30px;
    padding-top: 90px;
    width: 40%;
}

/* About Us Section */

.about{
    display: flex;
    padding-top: 100px;
}

#Aboutus .img img{

    width: 80%;
    height: 100%;
}

.about .content{
    align-items: center;
    padding-top: 200px;
    width: 60%;
    margin-right: 20%;

}

.about .content h1{
    font-size: 50px;
    
}

.about .content p{
    font-size: 30px;
    padding-top: 20px;
}

.about .content button{
    text-align: center;
    background-color: black;
    color: #FAFF00;
    margin-top: 40px;
    font-size: 20px;

}