*{
    padding: 0px;
    margin: 0px;
}

/* header section */

#header .links ul {
    
    float: right;
    margin-right: 150px;
}


#header .links ul li{
    display: inline-block;
    list-style-type: none;
    padding-top: 80px;
    padding-right: 80px;
    font-size: 20px;
   
}

 
#header .links ul li a{
    color: white;
    text-decoration: none;

}

#header .links ul li button{
   background-color: yellow;
    
}


#header{
    background-image: url("/Assests/images/moving.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}



