*{
    padding: 0px;
    margin: 0px;
}

body{

}
/* header section */
#header{
    background-image: url("../images/moving.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}



#header .links ul {
    
    float: right;
    margin-right: 150px;
}


#header .links ul li{
    display: inline-block;
    list-style-type: none;
    padding-top: 80px;
    padding-right: 80px;
    font-size: 20px;
   
}

 
#header .links ul li a{
    color: white;
    text-decoration: none;

}

#header .links ul li #btn1{
   background-color: yellow;
   text-align: center;
   font-size: 20px;
    
}
#header .links ul li #btn2{
    background-color: black;
    color: #FAFF00;
    font-size: 18px;
    text-align: center;
    padding: 0px 10px;
}


.head{
    align-self: center;
    padding-top: 250px;
    margin-left: 70px;
 
}
.head h1{
    font-size: 50px;
    width: 35%;
    color:  #FAFF00;
    
}

.head p{
    color: white;
    font-size: 30px;
    padding-top: 90px;
    width: 30%;
}

/* About Us Section */

.about{
    display: flex;
    padding-top: 100px;
}

#Aboutus .img img{

    width: 80%;
    height: 100%;
}
hr{
    border: 2px solid darkgoldenrod;
    border-radius: 2px;
}

.about .content{
    align-items: center;
    padding-top: 180px;
    width: 60%;
    margin-right: 20%;

}

.about .content h1{
    font-size: 50px;
    
}

.about .content p{
    font-size: 30px;
    padding-top: 15px;
}

.about .content button{
    text-align: center;
    background-color: black;
    color: #FAFF00;
    margin-top: 40px;
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;

}

.about .content hr{
    width: 25%;
    margin-bottom: 10px;

}


/* Movers Section */
#secmovers{
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: lightgrey;

}

#secmovers h1{

    padding-top: 120px;
    padding-bottom: 150px;
    font-size: 50px;
}

.container hr{
margin-top: 100px;
width: 15%;
margin-bottom: 50px;

}

.row{
    display: flex;
    padding-bottom: 20px;
}


.container{
    width: 80%;
    margin: 0 auto;
}

.column{
    width: 33%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 6%;
   
}
.img{

    width: 100%;
}

.row > .column > .img > img{
 width: 100%;
 
}

table{
    width: 100%;
   
}
 
table, tr, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}
table, tr, th:nth-child(1){
    border-left: none;
    border-bottom: none;
}
table, tr, th:nth-child(2){
    border-bottom: none;
}
table, tr, th:nth-child(3){
    border-bottom: none;
    border-right: none;
}

h4{
    padding: 20px;
}



/* Contacts us Section */

#contactus{

    background-color: #050505;
   
    
 
}
.contact{
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 220px;
    align-items: center;
}

h1 span{
    color: #FAFF00;
}

 #contactus h1{
  
    color: white;
    font-size: 50px;
    margin-left: 250px;
    padding-top: 80px;
    padding-bottom: 20px;
}
  .contact h4{
    color: white;
    
  
}



ul li{
    padding: 10px;
}

ul li a{
    text-decoration: none;
    list-style: none;
    color:white;
}

.contact ul{
    margin-right: 80px;
}

.contact ul li{
    padding: 15px;
    list-style: none;
}
 .contact ul li a{
    text-decoration: none;
    color: white;
}

  .contact .heading h4{
    text-align: center;
}

.contact  .icons {
    padding-bottom: 90px;
    

}

.contact  .icons i{
    padding-right: 20px;
    color: white;

}