*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Poppins,  Actor, Adamina;
}
/* header section */
#header{
    background-image: url("/Assests/images/moving.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}



#header .links ul {
    
    float: right;
    margin-right: 150px;
}


#header .links ul li{
    display: inline-block;
    list-style-type: none;
    padding-top: 80px;
    padding-right: 80px;
    font-size: 20px;
   
}

 
#header .links ul li a{
    color: white;
    text-decoration: none;

}

#header .links ul li #btn1{
   background-color: yellow;
   text-align: center;
   font-size: 20px;
    
}
#header .links ul li #btn2{
    background-color: black;
    color: #FAFF00;
    font-size: 18px;
    text-align: center;
}


.head{
    align-self: center;
    padding-top: 250px;
    margin-left: 70px;
 
}
.head h1{
    font-size: 50px;
    width: 45%;
    color:  #FAFF00;
    
}

.head p{
    color: white;
    font-size: 30px;
    padding-top: 90px;
    width: 40%;
}

/* About Us Section */

.about{
    display: flex;
    padding-top: 100px;
}

#Aboutus .img img{

    width: 80%;
    height: 100%;
}

.about .content{
    align-items: center;
    padding-top: 180px;
    width: 60%;
    margin-right: 20%;

}

.about .content h1{
    font-size: 50px;
    
}

.about .content p{
    font-size: 30px;
    padding-top: 15px;
}

.about .content button{
    text-align: center;
    background-color: black;
    color: #FAFF00;
    margin-top: 40px;
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;

}

.about .content hr{
    width: 25%;
    margin-bottom: 10px;
     stroke: #FAFF00;
}


/* Movers Section */
#secmovers{
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: lightgrey;

}

#secmovers h1{

    padding-top: 120px;
    padding-bottom: 150px;
    font-size: 50px;
}

.row{
    display: flex;
    padding-bottom: 20px;
}


.container{
    width: 80%;
    margin: 0 auto;
}

.column{
    width: 33%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
   
}
.img{

    width: 100%;
}

.row > .column > .img > img{
 width: 100%;
 
}

table{
    width: 100%;
   
}
 
table, tr, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}
table, tr, th:nth-child(1){
    border-left: none;
    border-bottom: none;
}
table, tr, th:nth-child(2){
    border-bottom: none;
}
table, tr, th:nth-child(3){
    border-bottom: none;
    border-right: none;
}

h4{
    padding: 20px;
}



/* Contacts us Section */

#contactus{

    background-color: #050505;
    margin-top: 100px;
    height: 50vh;
}
.contact{
    display: flex;
    justify-content: space-between;
    margin-right: 210px;
}

.contact li{

    padding-bottom: 30px;
   

}
.contact li a{
    color: white;
    text-decoration: none;
}

#contactus h1{
    color: white;
    font-size: 40px;
    padding-left: 250px;
    padding-bottom: 70px;
    padding-top: 50px;
}
h1 span{
    color: #FAFF00;
}
.contact h4{
    color: white;
    align-items: flex-end;
    padding-bottom: 10px;
}

.icons{
    margin-left: 250px;
}
.contact .icons i{

    color: white;
    padding-top: 1000px;
    justify-content: center;
    padding-right: 30px;
}