*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Poppins,  Actor, Adamina
}
/* header section */

#header .links ul {
    
    float: right;
    margin-right: 150px;
}


#header .links ul li{
    display: inline-block;
    list-style-type: none;
    padding-top: 80px;
    padding-right: 80px;
    font-size: 20px;
   
}

 
#header .links ul li a{
    color: white;
    text-decoration: none;

}

#header .links ul li #btn1{
   background-color: yellow;
   text-align: center;
   font-size: 20px;
    
}
#header .links ul li #btn2{
    background-color: black;
    color: #FAFF00;
    font-size: 18px;
    text-align: center;
}


#header{
    background-image: url("/Assests/images/moving.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}



.head{
    align-self: center;
    padding-top: 200px;
    margin-left: 70px;
 
}
.head h1{
    font-size: 50px;
    width: 45%;
    color:  #FAFF00;
    
}

.head p{
    color: white;
    font-size: 30px;
    padding-top: 50px;
    width: 40%;
}